.intro-strategy {
  background-image: url(../images/banner-strategy-1024.jpg);
}

.intro-marketing {
  background-image: url(../images/banner-marketing-1024.jpg);
}

.intro-search {
  background-image: url(../images/banner-search-1024.jpg);
}

.intro-social {
  background-image: url(../images/banner-social-1024.jpg);
}

.intro-web {
  background-image: url(../images/banner-web-1024.jpg);
}

.intro-mobile {
  background-image: url(../images/banner-mobile-1024.jpg);
}

.intro-training {
  background-image: url(../images/banner-training-1024.jpg);
}

.intro-team {
  background-image: url(../images/banner-team-1024.jpg);
}

@media(min-width:1024px) {
  .intro-strategy {
      background-image: url(../images/banner-strategy-1536.jpg);
  }

  .intro-marketing {
    background-image: url(../images/banner-marketing-1536.jpg);
  }

  .intro-search {
    background-image: url(../images/banner-search-1536.jpg);
  }

  .intro-social {
    background-image: url(../images/banner-social-1536.jpg);
  }

  .intro-web {
    background-image: url(../images/banner-web-1536.jpg);
  }

  .intro-mobile {
    background-image: url(../images/banner-mobile-1536.jpg);
  }

  .intro-training {
    background-image: url(../images/banner-training-1536.jpg);
  }

  .intro-team {
    background-image: url(../images/banner-team-1536.jpg);
  }
}

.hr {
    height: 1px;
    width: 100%;
    background: -moz-linear-gradient(left,  rgba(142,198,66,0) 0%, rgba(142,198,66,1) 37%, rgba(142,198,66,1) 50%, rgba(142,198,66,1) 63%, rgba(142,198,66,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(142,198,66,0)), color-stop(37%,rgba(142,198,66,1)), color-stop(50%,rgba(142,198,66,1)), color-stop(63%,rgba(142,198,66,1)), color-stop(100%,rgba(142,198,66,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(142,198,66,0) 0%,rgba(142,198,66,1) 37%,rgba(142,198,66,1) 50%,rgba(142,198,66,1) 63%,rgba(142,198,66,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(142,198,66,0) 0%,rgba(142,198,66,1) 37%,rgba(142,198,66,1) 50%,rgba(142,198,66,1) 63%,rgba(142,198,66,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(142,198,66,0) 0%,rgba(142,198,66,1) 37%,rgba(142,198,66,1) 50%,rgba(142,198,66,1) 63%,rgba(142,198,66,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(142,198,66,0) 0%,rgba(142,198,66,1) 37%,rgba(142,198,66,1) 50%,rgba(142,198,66,1) 63%,rgba(142,198,66,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ec642', endColorstr='#008ec642',GradientType=1 ); /* IE6-9 */
}

.content-section h3, .content-section p {
  margin: 20px 0;
}

.content-section h3 {
  margin-top: 10px;
}

.copy-bubble {
    background-color: rgba(255, 255, 255, 0.75);
}

.copy-bubble h1, .copy-bubble h3, .copy-bubble p, .title-bubble h1 {
    margin: 10px 0;
}

.title-bubble {
    background-color: rgba(255, 255, 255, 1.0);
    margin-bottom: 20px;
}

.service-item {
  color: #999;
  margin-bottom: 20px;
}

.service-item:hover {
  color: #8ec642;
  cursor: pointer;
}

.service-item .content {
  margin-top: 60px;
  margin-left: 25px;
}

.service-item .avatar {
    float: left;
    position: relative;
    height: 55px;
    width: 55px;
    background: #8ec642 url('../images/services-sprite-55x55.png') no-repeat;
}

.service-item .avatar.avatar-strategy {
    background-position: 0 0;
}

.service-item .avatar.avatar-marketing-management {
    background-position: -55px 0;
}

.service-item .avatar.avatar-search-marketing {
    background-position: -110px 0;
}

.service-item .avatar.avatar-social-marketing {
    background-position: -165px 0;
}

.service-item .avatar.avatar-web-development {
    background-position: -220px 0;
}

.service-item .avatar.avatar-mobile-marketing {
    background-position: -275px 0;
}

.service-item .avatar.avatar-training {
    background-position: -330px 0;
}

.service-item .avatar.avatar-the-team {
    background-position: -385px 0;
}

.service-item .title-wrapper {
  position: relative;
  float: left;
  top: 1px;
  height: 53px;
  width: calc(100% - 55px);
  padding: 7px;
  text-transform: uppercase;
}
.service-item .title-wrapper div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.service-item .title-wrapper:before, .service-item .title-wrapper:after {
  content: "";
  position: absolute;
}
.service-item .title-wrapper:before {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-image: -webkit-gradient(radial, left top, 10, 90% 0%, 150, from(#8ec642), to(transparent));
  background-image: -webkit-radial-gradient(left top, 150px 230px, #8ec642, transparent);
  background-image: -moz-radial-gradient(left top, farthest-corner, #8ec642 0%, transparent 72%);
  z-index: -2;
}
.service-item .title-wrapper:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}

.icon-bar {
    background-color: #999;
}