.intro-strategy {
  background-image: url(../images/banner-strategy-768.jpg);
}
.intro-adapt {
  background-image: url(../images/banner-consumer-768.jpg);
}
.intro-competitive {
  background-image: url(../images/banner-help-768.jpg);
}
.intro-management {
  background-image: url(../images/banner-marketing-768.jpg);
}

.intro-search, .intro-saying {
  background-image: url(../images/banner-search-768.jpg);
}

.intro-social {
  background-image: url(../images/banner-social-768.jpg);
}

.intro-web {
  background-image: url(../images/banner-web-768.jpg);
}

.intro-mobile {
  background-image: url(../images/banner-mobile-768.jpg);
}

.intro-training {
  background-image: url(../images/banner-training-768.jpg);
}

.intro-team {
  background-image: url(../images/banner-team-768.jpg);
} 

.intro-about {
  background-image: url(../images/banner-about-768.jpg);
}

@media(min-width:768px) {
  .intro-strategy {
    background-image: url(../images/banner-strategy-1024.jpg);
  }
  .intro-competitive {
    background-image: url(../images/banner-help-1024.jpg);
  }
  .intro-adapt {
    background-image: url(../images/banner-consumer-1024.jpg);
  }

  .intro-management {
    background-image: url(../images/banner-marketing-1024.jpg);
  }

  .intro-search, .intro-saying {
    background-image: url(../images/banner-search-1024.jpg);
  }

  .intro-social {
    background-image: url(../images/banner-social-1024.jpg);
  }

  .intro-web {
    background-image: url(../images/banner-web-1024.jpg);
  }

  .intro-mobile {
    background-image: url(../images/banner-mobile-1024.jpg);
  }

  .intro-training {
    background-image: url(../images/banner-training-1024.jpg);
  }

  .intro-team {
    background-image: url(../images/banner-team-1024.jpg);
  }

  .intro-about {
    background-image: url(../images/banner-about-1024.jpg);
  }
}

@media(min-width:1024px) {
  .intro-strategy {
    background-image: url(../images/banner-strategy-1536.jpg);
  }
  .intro-adapt {
    background-image: url(../images/banner-consumer-1536.jpg);
  }
  .intro-competitive {
    background-image: url(../images/banner-help-1536.jpg);
  }
  .intro-management {
    background-image: url(../images/banner-marketing-1536.jpg);
  }

  .intro-search, .intro-saying {
    background-image: url(../images/banner-search-1536.jpg);
  }

  .intro-social {
    background-image: url(../images/banner-social-1536.jpg);
  }

  .intro-web {
    background-image: url(../images/banner-web-1536.jpg);
  }

  .intro-mobile {
    background-image: url(../images/banner-mobile-1536.jpg);
  }

  .intro-training {
    background-image: url(../images/banner-training-1536.jpg);
  }

  .intro-team {
    background-image: url(../images/banner-team-1536.jpg);
  }

  .intro-about {
    background-image: url(../images/banner-about-1536.jpg);
  }
}

.content-section {
  position: relative;
}

.content-section:after {
  display: block;
  position: absolute;
  top: 50px;
  z-index: -1;
  right: 0;
}

@media(min-width: 1024px) {

  .content-strategy:after {
    content: url(../images/sub-strategy.jpg);
    right: -300px;
  }

  .content-management:after {
    content: url(../images/sub-management.jpg);
  }

  .content-search:after {
    content: url(../images/sub-search.jpg);
    right: -250px;
    top: 25px;
  }

  .content-social:after {
    content: url(../images/sub-social.jpg);
    right: -260px;
  }

  .content-web:after {
    content: url(../images/sub-web.jpg);
    right: -50px;
  }

  .content-mobile:after {
    content: url(../images/sub-mobile.jpg);
  }

  .content-training:after {
    content: url(../images/sub-training.jpg);
  }

  .content-team:after {
    content: url(../images/sub-team.jpg);
    right: -75px;
  }

  .content-about:after {
    content: url(../images/sub-about.jpg);
    top: 50px;
  }

}

.hr{
  height: 1px;
  width: 100%;
  background: -moz-linear-gradient(left,  rgba(142,198,66,1) 0%, rgba(142,198,66,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(142,198,66,1)), color-stop(100%,rgba(142,198,66,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec642', endColorstr='#008ec642',GradientType=1 ); /* IE6-9 */
}

.hr-right {
    height: 1px;
    width: 50%;
    float:right;
    background: -moz-linear-gradient(left,  rgba(142,198,66,1) 0%, rgba(142,198,66,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(142,198,66,1)), color-stop(100%,rgba(142,198,66,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec642', endColorstr='#008ec642',GradientType=1 ); /* IE6-9 */
  }
.hr-left {
    height: 1px;
    width: 50%;
    float:left;
    background: -moz-linear-gradient(right,  rgba(142,198,66,1) 0%, rgba(142,198,66,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(142,198,66,1)), color-stop(100%,rgba(142,198,66,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(right,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* IE10+ */
    background: linear-gradient(to left,  rgba(142,198,66,1) 0%,rgba(142,198,66,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec642', endColorstr='#008ec642',GradientType=1 ); /* IE6-9 */
}

.content-section h3, .content-section p {
  margin: 20px 0;
}

.content-section h3 {
  margin-top: 10px;
}

.copy-bubble {
    background-color: rgba(255, 255, 255, 0.9);
}

@media(min-width:768px) {
  .copy-bubble {
      background-color: rgba(255, 255, 255, 0.75);
  }
}

.copy-bubble h1, .copy-bubble h3, .copy-bubble p, .section-grow h1, .section-grow h2, .section-grow p {
    margin: 10px 0;
}

.title-bubble {
  background-color: rgba(255, 255, 255, 1.0);
  margin-bottom: 20px;
  padding: 0;
}

.title-bubble h1 {
  margin: 10px;
}

.service-item {
  color: #999;
  margin-bottom: 20px;
}

.service-item:hover {
  color: #8ec642;
  cursor: pointer;
}

.service-item .content {
  margin-top: 60px;
  margin-left: 25px;
}

.title-bubble .avatar, .service-item .avatar {
  float: left;
  position: relative;
  height: 55px;
  width: 55px;
  background: #8ec642 url('../images/services-sprite-55x55.png') no-repeat;
}

.title-bubble .avatar.avatar-strategy, .service-item .avatar.avatar-strategy {
    background-position: 0 0;
}

.title-bubble .avatar.avatar-marketing-management, .service-item .avatar.avatar-marketing-management {
    background-position: -55px 0;
}

.title-bubble .avatar.avatar-search-marketing, .service-item .avatar.avatar-search-marketing {
    background-position: -110px 0;
}

.title-bubble .avatar.avatar-social-marketing, .service-item .avatar.avatar-social-marketing {
    background-position: -165px 0;
}

.title-bubble .avatar.avatar-web-development, .service-item .avatar.avatar-web-development {
    background-position: -220px 0;
}

.title-bubble .avatar.avatar-mobile-marketing, .service-item .avatar.avatar-mobile-marketing {
    background-position: -275px 0;
}

.title-bubble .avatar.avatar-training, .service-item .avatar.avatar-training {
    background-position: -330px 0;
}

.title-bubble .avatar.avatar-the-team, .service-item .avatar.avatar-the-team {
    background-position: -385px 0;
}

.title-bubble .avatar.avatar-about, .service-item .avatar.avatar-about {
    background-position: -440px 0;
}

.title-bubble .title-wrapper, .service-item .title-wrapper {
  position: relative;
  float: left;
  height: 55px;
  width: calc(100% - 55px);
}

.avatar + .title-wrapper {
  background: url(../images/title-wrapper.png) no-repeat;
}

.title-wrapper {
  text-transform: uppercase;
  padding: 7px;
}

.title-bubble .title-wrapper h1 {
  padding-left: 10px;
}

.title-wrapper div {
  position: relative;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar {
    background-color: #999;
}

.about-section h4 {
  color: #999;
}

.about-section > div {
  margin-bottom: 30px;
}

.quote {
  background: url(../images/quote.png) left top no-repeat;
  padding-left: 50px;
  margin-bottom: 20px;
}
.quote h4 {
  margin-bottom: 5px;
}
.quote-name, .quote-title {
  color: #8ec642;
}
.quote-title {
  font-style: italic;
}
.as-seen-on div {
  margin-bottom: 20px;
}
.contact-us a img {
  float: right;
  margin-left: 10px;
}
.contact-us h5 {
  margin-bottom: 5px;
}
.contact-us .hr {
  margin-bottom: 30px;
}
.contact-us-phone {
  margin-bottom: 10px;
}
.form-horizontal .control-label {
    text-align: left !important;
}

/** Grow **/
.section-grow{
  margin-top:50px;
  margin-bottom:50px;
}
.change-list li{
  margin:10px 0;
}
.border-top{
  border-top:1px solid #ddd;
  background:#eee;
}
.workshops p{
  text-align: center;
}
.workshops .hr-left, .workshops .hr-right{
  margin-bottom:10px;
}
.workshops{
  margin-top:50px;
  padding-bottom:50px;
}
.saying{
  position:relative;
  top:50px;
}
.saying h1{
  color:white;
  font-size:70px;
}